.benefits {
  margin: 0;
}

.benefits__header {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 47.5px;
    padding-bottom: 56.5px;
  }
}

.benefits__header-title {
  margin-top: 0;
  margin-bottom: 35px;
}

.benefits__title {
  margin: 0;
}

.benefits__header-description {
  margin: 0;
}

.benefits__description {
  margin: 0;
}

.benefits__description-number {
  margin-top: 11px;
  margin-bottom: 17px;
}

.benefits__wrapper {
  background: $bg-color;
}

.benefits__list {
  margin: 0;
}

.benefits__sub-list {
  list-style-type: none;
}

// .benefits__item {
//   @media (min-width: $tablet-width) {
//     display: block;
//   }
// }

// .benefits__icon {

// }

// .benefits__item {

// }
