.benefits {
  margin: 0;
}

.benefits__header {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

.benefits__header-title {
  margin-top: 0;
  margin-bottom: 35px;
}

.benefits__title {
  margin: 0;
}

.benefits__header-description {
  margin: 0;
}

.benefits__description {
  margin: 0;
}

.benefits__description-number {
  margin-top: 11px;
  margin-bottom: 17px;
}

.benefits__wrapper {
  background: $bg-color-secondary;
}

// .benefits__image {
//   margin: 0;
// }

// .benefits__icon {

// }

// .benefits__item {

// }
