.benefits {
  margin: 0;
}

.benefits__header {
  text-align: center;
}

.benefits__header-title {
  margin-top: 32px;
  margin-bottom: 35px;
}

.benefits__title {
  margin-top: 33px;
  margin-bottom: 11px;
}

.benefits__header-description {
  margin-bottom: 16px;
}

.benefits__description {
  margin-top: 11px;
  margin-bottom: 11px;
}

.benefits__wrapper {
  background: var(--bg-color-secondary);
}

// .benefits__image {
//   margin: 0;
// }

// .benefits__icon {

// }

// .benefits__item {

// }
