.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  color: $text-secondary;
}

.button-primary {
  width: 284px;
  height: 58px;
  background-color: $brand-color;
}

.button-secondary {
  background-color: $brand-color;
}
