.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-secondary;
  background-color: $brand-color;

  &:hover {
    background-color: $brand-color-hover;
  }

  &:active {
    background-color: $brand-color-down;
  }

  &:disabled {
    background-color: $brand-color-disable;
    color: $text-invert-active;
  }
}

.button--primary {
  width: 284px;
  height: 58px;
}

.button--secondary {
  background-color: $brand-color;
}

.button--size-modal-fail {
  width: 180px;
  height: 58px;
  padding: 18px 64px 14px 63px;
}

.button--size-modal-success {
  width: 280px;
  height: 58px;
  padding: 18px 62px 14px 60px;
}

@media (min-width: $tablet-width) {
  .button--primary {
    width: 458px;
    height: 58px;
  }
}
