.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.description--primary {
  color: $text-primary;
}


.description--secondary {
  color: $text-secondary;
  mix-blend-mode: normal;
}

.description--label {
  color: $text-accent;

  @include text-usially();
}

.description--label-bolt {
  color: $text-primary;

  @include text-bolt-s();
}
