.developed {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.developed__description {
  display: block;
  margin: 0;
}

.developed__html-academy {
  img {
    display: block;
    border: none;
    margin-left: 13px;
  }
}
