.developed {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &:hover {
    color: $text-hover;

    .developed__html-academy-icon {
      fill: $text-hover;
    }
  }

  &:active {
    color: $text-down;

    .developed__html-academy-icon {
      fill: $text-down;
    }
  }
}

.developed__html-academy {
  .developed__html-academy-icon {
    margin-left: 13px;
  }
}
