.feedback {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__header {
  margin-top: 36px;
}

.feedback__title {
  margin: 0 auto 24px;
}

.feedback__description {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 53px;
}

.feedback__form {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .feedback__title,
  .feedback__description {
    width: 435px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__form {
    margin-bottom: 64px;
  }

  .feedback__title,
  .feedback__description {
    width: 434px;
  }
}
