// форма
.form {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__title {
  display: block;
  margin: 0 auto 20px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    top: -24px;
    left: 0;
    right: 0;
  }
}

.form__group {
  position: relative;
  border: none;
  padding: 0 20px 0;
  margin: 0 0 64px;

  &--impression-point {
    display: grid;
    grid-template-columns: 30px 250px;
  }

  &--self {
    margin: 0 0 64px;
  }

  &--info {
    margin: 0 0 59px;
  }
}

.form__group-impression-point {
  margin: 0 0 49px;
}

.form__group--emotion {
  margin: 0 0 56px;
}

.form__label {
  display: block;
}

// .form__label--primary {
// }

.form__input {
  position: relative;
  width: 280px;
  min-height: 58px;
  padding: 16px;
}

.form__input--xs {
  width: 222px;
}

// .form__radio {
// }

// .form__label--secondary {
// }

// .form__checkbox {
// }

.form__textarea {
  min-width: 280px;
  min-height: 150px;
  padding: 16px;
  background-color: #f2f2f2;
}

.form__button {
  min-width: 281px;
  margin: 0 auto 3px;
  padding: 18px 33px 14px;
}

.form__text {
  font-size: 12px;
  color: $text-third;
  text-transform: uppercase;
  text-align: right;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .form__title::before {
    display: none;
  }

  .form__group--impression-point {
    grid-column: 1/ -1;
    display: flex;
    flex-wrap: wrap;
  }

  .form__group--emotion {
    width: 100%;
    grid-column: 1/ -1;
  }

  .form__textarea {
    width: 100%;
    height: 160px;
    min-width: 648px;
    margin: 0;
  }

  .form__button {
    margin-left: 20px;
    margin-bottom: 0;
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .form__group--self,
  .form__group--info {
    height: 338px;
  }

  .form__textarea {
    width: 768px;
    height: 160px;
    margin-left: 76px;
    margin-right: 76px;
  }

  .form__button {
    margin-left: 20px;
    margin-bottom: 0;
    width: 384px;
  }
}
