// форма
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
}

.form__title {
  display: block;
  margin: 0 auto 4px;

  &::before {
    display: block;
    content: "";
    position: absolute;
    height: 1px;
    background: #e5e5e5;
    top: -24px;
    left: -20px;
    right: -20px;
    margin-bottom: 24px;
  }
}

.form__group {
  width: 100%;
  position: relative;
  margin: 0 0 64px;
  padding: 0;
  border: none;

  // &--impression-point {
  //   display: grid;
  //   grid-template-columns: 30px 250px;
  // }

  &--self {
    margin: 0 0 64px;
  }

  &--info {
    margin: 0 0 59px;
    align-self: start;

    .form__title {
      text-align: center;
    }
  }
}

.form__group-impression-point {
  margin: 0 0 49px;
}

.form__group--emotion {
  margin: 0 0 56px;
}

.form__label {
  display: flex;
  position: relative;
  margin: 0;
  text-align: start;
  margin-top: 16px;
  margin-left: 16px;
}

.form__input {
  position: relative;
  // min-width: 280px;
  min-height: 58px;
  padding: 12px;
  border: 4px solid transparent;
}

.form__input-wrapper-phone,
.form__input-wrapper-email {
  display: inline;
  width: 222px;
}

.form__input-wrapper-phone::after,
.form__input-wrapper-email::after {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
}

.form__input-wrapper-phone::after {
  background: $bg-color-icon url("../../img/icon-phone.svg") no-repeat center;
}

.form__input-wrapper-email::after {
  background: $bg-color-icon url("../../img/icon-email.svg") no-repeat center;
}

.input--xs {
  width: 222px;
}

.form__label-impression {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 46px;
  margin-top: 16px;
}

.form__radio-fake {
  display: block;
  width: 46px;
  height: 46px;
  margin-right: 16px;
  position: relative;
  border-radius: 50%;
  background-color: $bg-color-input;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $text-third;
    left: calc(50% - 16px / 2);
    top: calc(50% - 16px / 2);
    opacity: 0;
    transform: 0.2s;
  }

  &:hover {
    background-color: $bg-color-input-hover;
  }

  &:active {
    background-color: $bg-color-check;

    &::before {
      background: rgba(51, 51, 51, 0.3);
    }
  }
}

.form__radio-fake--checkbox {
  border-radius: 4px;

  &::before {
    border-radius: 0;
    width: 22px;
    left: calc(50% - 22px / 2);
    background: url("../../img/tick.svg.svg");
  }

  &:active {
    &::before {
      background: url("../../img/tick.svg.svg");
    }
  }
}

.form__radio:checked + .form__radio-fake::before {
  opacity: 1;
}

.form__checkbox:checked + .form__radio-fake::before {
  opacity: 1;
}

.form__textarea {
  min-width: 280px;
  min-height: 150px;
  padding: 16px;
  border: none;
  background-color: $bg-color-input;
}

.form__button {
  min-width: 281px;
  margin: 0 auto 3px;
  padding: 18px 33px 14px;
}

.form__text {
  font-size: 12px;
  color: $text-third;
  text-transform: uppercase;
  align-self: end;
}

@media (min-width: $tablet-width) {
  .form {
    min-width: 648px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .form__group {
    margin-bottom: 48px;
  }

  .form__group--self::after {
    display: block;
    position: absolute;
    content: "";
    width: 1px;
    height: 338px;
    background: #e5e5e5;
    top: -30px;
    right: 0;
  }

  .form__wrapper-radio {
    justify-self: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  .form__wrapper-checkbox {
    justify-self: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 16px;
  }

  .form__title {
    text-align: center;
    margin-bottom: 28px;
  }

  .form__title::before {
    display: none;
  }

  .form__label-radio-impression {
    min-width: 280px;
    display: flex;
    align-items: center;
  }

  .form__label-impression {
    min-width: 224px;
    margin: 0;
  }

  .form__group--impression-point {
    grid-column: 1/ -1;
    display: flex;
    flex-wrap: wrap;
  }

  .form__group--emotion {
    width: 100%;
    grid-column: 1/ -1;
  }

  .form__textarea {
    width: 100%;
    height: 160px;
    min-width: 648px;
    margin: 0;
  }

  .form__button {
    margin-bottom: 0;
    width: 324px;
  }

  .form__text {
    justify-self: end;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  .form__group--self,
  .form__group--info {
    height: 338px;
  }

  .form__input {
    width: 430px;
  }

  .form__input--xs {
    width: 344px;
  }

  .form__textarea {
    width: 768px;
    height: 160px;
    margin-left: 76px;
    margin-right: 76px;
  }

  .form__button {
    margin-left: 20px;
    margin-bottom: 0;
    width: 384px;
  }
}
