.gallery {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.gallery__header-wrapper {
  position: relative;
  margin-bottom: 64px;
}

.gallery__header {
  margin-top: 37px;
  margin-bottom: 50px;
  text-align: center;

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: $bg-color-border;
    bottom: -25px;
    left: -20px;
  }

  @media (max-width: $mobile-width-only) {
    .gallery__header-no-mobile {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 66px;
    margin-bottom: 67px;

    &::after {
      display: none;
    }

    .gallery__header-mobile-only {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 104px;
    margin-bottom: 65px;
  }
}

.gallery__list {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: $bg-color-border;
    bottom: -25px;
    left: -20px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}
