.gallery-item {
  min-width: 320px;
}

@media (min-width: $tablet-width) {
  .gallery-item {
    &--large {
      grid-column: 1/ -1;
      min-width: 648px;
      height: 480px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery-item {
    grid-column: 30%;

    &--large {
      grid-column: 1/ -1;
      height: 400px;
    }
  }
}
