.gallery {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery__header {
  margin-top: 33px;
  margin-bottom: 45px;
}

.gallery__list {
  min-width: 320px;
  list-style-type: none;
}

// .gallery__item {
//   margin: 0;
// }

// .gallery-item__image-photo {
// }
// .gallery-item__title {
// }
// .gallery-item__description-list {
// }
// .gallery-item__autor {
// }
// .gallery-item__name {
// }
// .gallery-item__icon {
// }
// .image-block__image-icon {
// }
// .gallery-item__likes {
// }

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
