.main-container {
  min-width: 320px;
}

.main-container__promo {
  margin-bottom: 32px;
}

.main-container__feedback {
  margin-bottom: 0;
}

.main-container__search-hotel {
  align-self: center;
  justify-self: center;
}

.main-container__gallery-wrapper {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-container {
    min-width: 768px;
  }

  .main-container__feedback {
    width: 100%;
  }
}

.main-container__gallery-video-wrapper {
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    margin-top: 62px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    max-width: 1200px;
  }

  .main-container__feedback {
    max-width: 1200px;
  }
}
