.main-container {
  min-width: 320px;
  // display: grid;
}

.main-container__promo {
  margin-bottom: 32px;
}

.main-container__feedback {
  margin-bottom: 36px;
}

.main-container__search-hotel {
  align-self: center;
  justify-self: center;
}
