.main-container {
  min-width: 320px;
}

.main-container__promo {
  margin-bottom: 32px;
}

.main-container__feedback {
  margin-bottom: 36px;
}

.main-container__search-hotel {
  align-self: center;
  justify-self: center;
}

@media (min-width: $tablet-width) {
  .main-container {
    min-width: 768px;
  }

  .main-container__feedback {
    width: 100%;
  }
}
