.main-form {
  min-width: 320px;
}

.main-form__header {
  margin: 0;
}

.main-form__form {
  margin: 0;
}

// .form {
// }

// .form__title {
// }

// .form__group {
// }

// .form__legend {
// }
// .form__label {
// }

// .form__label--primary {
// }

// .form__input {
// }

// .form__input--xs {
// }

// .input {
// }

// .input--xs {
// }

// .form__radio {
// }

// .form__label--secondary {
// }

// .form__checkbox {
// }

// .form__textarea {
// }

// .form__button {
// }

// .button {
// }

// .form__text {
// }
