
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.main-navigation--toggle {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent url("../../img/icon-menu.svg.svg") no-repeat center;
  margin: 8px 13px 8px auto;
}

.main-navigation--toggle:hover {
  cursor: pointer;
}

.main-navigation__list {
  min-width: 100%;
  list-style-type: none;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
}

.main-navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  margin-bottom: 1px;
}

.main-navigation__link {
  width: 100%;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  padding-top: 17px;
  padding-bottom: 12px;
}
