.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

// .main-footer__hesh-tag {

// }

.main-footer__text {
  @include text-bolt-m;
  text-align: center;
  width: 166px;
  height: 26px;
}
