.main-header {
  position: relative;
  width: 100%;
  height: 56px;
  display: block;
}

.main-header__logo {
  position: absolute;
  display: block;
  top: 0;
  left: calc(50% - 185px / 2);
  max-height: 96px;
  order: 2;
  z-index: 2;

  @media (min-width: $tablet-width) {
    z-index: 10;
  }
}

.main-header__nav {
  width: 100%;
}
