.main-header {
  position: relative;
  min-width: 320px;
  min-height: 56px;
}

.main-header__logo {
  position: absolute;
  display: block;
  max-height: 96px;

  top: 0;
  left: calc(50% - 185px / 2);
}

.main-header__logo-image {
  margin: 0;
}
