.modal-success {
  position: absolute;
  width: 320px;
  height: 323px;
  left: 0;
  top: 402px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-success__title {
  margin-top: 39px;
  margin-bottom: 28px;
}

// .modal-success__text {
// }

.modal-succsess__wrapper {
  background: #f2f2f2;

  width: 320px;
  height: 98px;
  margin-top: 27px;
  margin-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-success__button {
  width: 280px;
  height: 58px;
}
