.page-image {
  background: url("../../img/back-mobile.jpg.png") center no-repeat;
  padding: 90px 19px 85px 19px;
  background-size: cover;
  position: relative;
  min-height: 389px;

  &__text-image {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: block;
  }

  @media (min-width: $tablet-width) {
    min-height: 518px;
    padding: 77px 154px 91.03px 153px;
  }
}
