.page {
  position: relative;
  font-family: $main-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $text-primary;
  background-color: $bg-color;
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  align-items: center;
}

.page__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__feedback {
  @media (min-width: $tablet-width) {
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 120px;
    margin-right: 120px;
  }
}

// * {
//   outline: 1px solid #333333;
// }
