.page-image {
  background: url("../../img/back-mobile.jpg.png") no-repeat center;
  text-align: center;
  padding: 90px 19px 85px 19px;

  @media (min-width: $tablet-width) {
    min-height: 518px;
    // padding: 77px 154px 91.03px 153px;
  }
}

