.search-hotel {
  margin: 0;
  position: relative;
  text-align: center;
}

.search-hotel__heading {
  margin-top: 38px;
  margin-bottom: 19px;
  text-transform: uppercase;
}

.search-hotel__description {
  margin-bottom: 32px;
}


.search-hotel__button {
  position: relative;
  margin-bottom: 49px;
  left: calc(50% - 284px / 2);
}

.search-hotel__map {
  margin: 0;
  width: 100%;
}

@media (max-width: $mobile-width-only) {
  .search-hotel__description-br--no-mobile {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .search-hotel__button {
    left: calc(50% - 458px / 2);
    margin-bottom: 58px;
  }

  .search-hotel__heading {
    font-size: 30px;
    margin-top: 64px;
    margin-bottom: 35px;
  }

  .search-hotel__description {
    margin-bottom: 40px;
  }

  .search-hotel__description-br--mobile {
    display: none;
  }
}
