.search-hotel {
  margin: 0;
}

.search-hotel__heading {
  margin-top: 38px;
  margin-bottom: 19px;
  text-transform: uppercase;
}

.search-hotel__description {
  margin-bottom: 32px;
}

.search-hotel__button {
  margin-bottom: 49px;
}

.search-hotel__map {
  margin: 0;
}
