.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    margin-right: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 6px;
  }
}

.social-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: $bg-color;
  background-color: $brand-color;

  &:hover {
    background-color: $brand-color-hover;
  }

  &:active {
    color: $text-invert-active;
    background-color: $brand-color-down;

    .social-icon__vk-icon,
    .social-icon__telegram-icon,
    .social-icon__youtube-icon {
      fill: $text-invert-active;
    }
  }

  .social-icon__vk-icon,
  .social-icon__telegram-icon,
  .social-icon__youtube-icon {
    fill: $bg-color;

    &:active {
      fill: $text-invert-active;
    }
  }
}
