.sub-header {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

.sub-header__wrapper {
  padding-top: 33px;
  padding-bottom: 40px;
}

.sub-header--primary {
  background: $brand-color;
}

.sub-header__title {
  text-align: center;
}
