.sub-header {
  padding-top: 40px;
  padding-bottom: 34px;
  text-align: center;
  position: relative;

  &--first {
    padding-top: 70px;
    padding-bottom: 40px;
    padding-right: 6px;

    @media (min-width: $tablet-width) {
      padding-right: 0;
    }
  }

  &--thrid {
    padding-top: 25px;
    padding-bottom: 21px;
  }

  &--fourth {
    padding-top: 23px;
    padding-bottom: 23px;

    span {
      margin-left: 3px;

      @media (min-width: $tablet-width) {
        margin-left: 1px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 3px;
      }
    }
  }

  &--fith {
    padding-top: 24px;
    padding-bottom: 10px;
  }

  @media (max-width: $mobile-width-only) {
    .sub-header__wrapper-br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    padding-bottom: 43px;

    .sub-header__wrapper {
      text-align: center;
      width: 192px;
      height: 173px;
      margin: auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 39px;
    padding-bottom: 56px;

    &--first {
      padding-top: 46px;
    }

    .sub-header__wrapper {
      text-align: center;
      width: 295px;
      height: 153px;
      margin: auto;
    }
  }
}

.sub-header--primary {
  background: $brand-color;
}

.sub-header__br {
  @media (max-width: $mobile-width-only) {
    &--no-mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &--desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }
  }
}
