// basic color
$brand-color: #81b3d2;
$brand-color-hover: #669ec0;
$brand-color-down: #5496bd;
$brand-color-disable: #e5e5e5;

$text-primary: #000000;
$text-third: #333333;
$text-secondary: #ffffff;
$text-current: #766357;
$bg-color: #ffffff;
$bg-color-secondary: #eeeeee;

// veiwports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
